@charset "utf-8";
/* CSS Document */

.navbar-inner{
	 background-image: linear-gradient(to bottom, #0ABEEE, #0ABEEE);
	 border:none;
}

.navbar .brand {
    color: #FFFFFF;
    text-shadow:none;
}

.navbar-inner{
	border-radius:0px ;
}


.navbar .nav > .active > a, .navbar .nav > .active >  .navbar .nav > .active > a:focus {
    background-color: #9e9e9e;
    color: #FFFFFF ;
    text-decoration: none ;
	text-shadow:none;
	font-size:14px ;
	text-align:center;
}

.navbar .nav > li > a
{
	text-shadow:none;
	color:#fff;
	font-weight:normal ;
	font-size:14px;
}

.navbar .nav > li > a:hover
{
	background:#9e9e9e;
	color:#fff;
}


.login .auth-form-header {
    background-color: #0ABEEE ;
    background-image: linear-gradient(#0ABEEE, #0ABEEE) ;
    background-repeat: repeat-x;
    border-color: #05a8d4;
	text-shadow:none;
	
}
.form-actions  #yw0:hover{
	background:#0abeee;
    text-shadow:none;
}

.btn-primary{
    background:#9e9e9e;
	text-shadow:none;
	width:100px;
	font-size:14px;
	margin-bottom:10px;
}
.btn-primary:hover{
    background:#0abeee;
	text-shadow:none;
	width:100px;
	color:#fff;
	margin-bottom:10px;
	transition:all 1s;
}

.frgt-pswrd a{
	 font-size: 10px;
    font-weight: bold;
}
#footer{
	color:#fff;
}

.input-xlarge {
    width:100%;
	}
	

.auth-form-body {
 padding: 25px 25px 0;
}	

footer{
	background:#9e9e9e;
}

.span8 h2{
	color:#666;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom:1px solid #cdcbcb;
	padding-bottom:3px;
	margin:inherit;
}
.span8 p{
	color:#9e9e9e;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.row-fluid .container{
	margin-top:40px;
}

select, input[type="file"] {
    box-shadow: none;
    height: 29px;
    line-height: 30px;
    width: 200px;
}

.container-min{
	min-height:685px;
}

.login .row-fluid{
	margin-bottom:5px;
}

.login .form-actions{
	margin-bottom:0;
	padding-bottom:0; 
}


.odd img {
    height: 60px !important;
    width: 20% !important;
}

.even img {
    height: 60px !important;
    width: 20% !important;
}

#content_view{
	min-height:500px;
	padding:30px 0;
}

.span4.well {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 11px 2px #a0a0a0;
}


/*======================================================================================*/
.collapse {
    display: block !important;
}
